<span {{action 'openSideBar'}}>{{inline-svg "hamburger" class="svg-icon pull-left"}}</span>
<div class="sidebar {{unless sideBarOpen 'close'}}">
    <h2 class="app-title"{{action 'closeSideBar'}} style="padding: 20px;">Ryuu</h2>
  {{yield}}
</div>
